*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-cont{
    width: 100%;
    min-height: 100vh;
    background-image: url("https://assets.ccbp.in/frontend/react-js/home-lg-bg.png");
    background-size: cover;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-content-cont{
    width: 40%;
    height: 40%;
    color: white;
}
