.login-page-cont{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-form-cont{
    border: 1px solid blue;
    width: 40%;
    height: 55%;
    padding: 20px;
    border-radius: 20px;
}
.img-cont{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.company-logo{
    width: 130px;
}